---
- name: Install PHP
  apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  with_items:
    - php
    - php-fpm
    - php-mysql
    - php-xml

- name: Remove Apache2
  ansible.builtin.apt:
    name: apache2
    state: absent
