---
- name: Copy wordpress zip file into /tmp
  ansible.builtin.copy:
    src: wordpress.zip
    dest: /tmp/wordpress.zip

- name: Unzip WordPress
  ansible.builtin.unarchive:
    src: /tmp/wordpress.zip
    dest: /tmp
    remote_src: true
    creates: /tmp/wordpress/wp-settings.php

- name: Create project folder
  ansible.builtin.file:
    dest: /var/www/book.example.com
    state: directory
- name: Copy WordPress files
  ansible.builtin.copy:
    mode: preserve
    remote_src: true
    src: /tmp/wordpress/
    dest: /var/www/book.example.com

- name: Create WordPress MySQL database
  community.mysql.mysql_db:
    name: wordpress
    state: present
    
- name: Create WordPress MySQL user
  community.mysql.mysql_user:
    name: wordpress
    host: localhost
    password: bananas
    priv: wordpress.*:ALL

- name: Create wp-config
  ansible.builtin.template:
    src: wp-config.php
    dest: /var/www/book.example.com/wp-config.php

- name: Check for existing database
  ansible.builtin.command: mysql -u root wordpress -e "SELECT ID FROM wordpress.wp_users LIMIT 1;"
  register: db_exist
  ignore_errors: true
  changed_when: false

- name: Copy WordPress DB
  ansible.builtin.copy:
    src: wp-database.sql
    dest: /tmp/wp-database.sql
  when: db_exist.rc > 0

- name: Import WordPress DB
  community.mysql.mysql_db:
    target: /tmp/wp-database.sql
    state: import
    name: wordpress
  when: db_exist.rc > 0