---
- name: Creating a Wordpress site
  hosts: all
  become: true
  roles:
    - gandhinira.php
  tasks:
    - name: Install required packages
      apt: name={{item}} state=present update_cache=yes
      with_items:
      - unzip
      - nginx
      - mysql-server
      - python3-mysqldb

    - name: Generate new root password
      ansible.builtin.command: openssl rand -hex 7 creates=/root/.my.cnf
      register: mysql_new_root_pass

    - name: Remove anonymous users
      community.mysql.mysql_user:
        name: ""
        state: absent
      when: mysql_new_root_pass.changed

    - name: Remove test database
      community.mysql.mysql_db:
        name: test
        state: absent
      when: mysql_new_root_pass.changed

    - name: Update root password
      community.mysql.mysql_user:
        name: root
        host: "{{ item }}"
        password: "{{ mysql_new_root_pass.stdout }}"
      with_items:
        - "{{ ansible_hostname }}"
        - 127.0.0.1
        - ::1
        - localhost
      when: mysql_new_root_pass.changed

    - name: Output new root password
      ansible.builtin.debug:
        msg: "New root password is {{ mysql_new_root_pass.stdout }}"
      when: mysql_new_root_pass.changed


    - name: Create my.cnf
      ansible.builtin.template:
        src: templates/mysql/my.cnf
        dest: /root/.my.cnf
      when: mysql_new_root_pass.changed


    # nginx
    - name: Install nginx
      ansible.builtin.apt:
        name: nginx
        state: present
    - name: Start nginx
      ansible.builtin.service:
        name: nginx
        state: started

    - name: Create nginx config
      ansible.builtin.template:
        src: templates/nginx/default
        dest: /etc/nginx/sites-available/default
      notify: restart nginx


    # WordPress
    - name: Copy wordpress zip file into /tmp
      ansible.builtin.copy:
        src: files/wordpress.zip
        dest: /tmp/wordpress.zip

    - name: Unzip WordPress
      ansible.builtin.unarchive:
        src: /tmp/wordpress.zip
        dest: /tmp
        remote_src: true
        creates: /tmp/wordpress/wp-settings.php

    - name: Create project folder
      ansible.builtin.file:
        dest: /var/www/book.example.com
        state: directory
    - name: Copy WordPress files
      ansible.builtin.copy:
        mode: preserve
        remote_src: true
        src: /tmp/wordpress/
        dest: /var/www/book.example.com

    - name: Create WordPress MySQL database
      community.mysql.mysql_db:
        name: wordpress
        state: present
    - name: Create WordPress MySQL user
      community.mysql.mysql_user:
        name: wordpress
        host: localhost
        password: bananas
        priv: wordpress.*:ALL

    - name: Create wp-config
      ansible.builtin.template:
        src: templates/wordpress/wp-config.php
        dest: /var/www/book.example.com/wp-config.php

    - name: Check for existing database
      ansible.builtin.command: mysql -u root wordpress -e "SELECT ID FROM wordpress.wp_users LIMIT 1;"
      register: db_exist
      ignore_errors: true
      changed_when: false

    - name: Copy WordPress DB
      ansible.builtin.copy:
        src: files/wp-database.sql
        dest: /tmp/wp-database.sql
      when: db_exist.rc > 0

    - name: Import WordPress DB
      community.mysql.mysql_db:
        target: /tmp/wp-database.sql
        state: import
        name: wordpress
      when: db_exist.rc > 0











  #handlers

  handlers:
    - name: restart nginx
      ansible.builtin.service:
        name: nginx
        state: restarted








