---
- name: Creating a Wordpress site
  hosts: all
  become: true
  tasks:
    - name: Install required packages
      apt: name={{item}} state=present update_cache=yes
      with_items:
      - php
      - php-fpm
      - php-mysql
      - php-xml
      - nginx
      - mysql-server
      - python3-mysqldb





