---
- name: Creating a Wordpress site
  hosts: all
  become: true
  tasks:
    - name: Install required packages
      apt: name={{item}} state=present update_cache=yes
      with_items:
      - php
      - php-fpm
      - php-mysql
      - php-xml
      - nginx
      - mysql-server
      - python3-mysqldb

    - name: Remove Apache2
      ansible.builtin.apt:
        name: apache2
        state: absent

    - name: Generate new root password
      ansible.builtin.command: openssl rand -hex 7 creates=/root/.my.cnf
      register: mysql_new_root_pass

    - name: Remove anonymous users
      community.mysql.mysql_user:
        name: ""
        state: absent
      when: mysql_new_root_pass.changed

    - name: Remove test database
      community.mysql.mysql_db:
        name: test
        state: absent
      when: mysql_new_root_pass.changed

    - name: Update root password
      community.mysql.mysql_user:
        name: root
        host: "{{ item }}"
        password: "{{ mysql_new_root_pass.stdout }}"
      with_items:
        - "{{ ansible_hostname }}"
        - 127.0.0.1
        - ::1
        - localhost
      when: mysql_new_root_pass.changed

    - name: Output new root password
      ansible.builtin.debug:
        msg: "New root password is {{ mysql_new_root_pass.stdout }}"
      when: mysql_new_root_pass.changed


    - name: Create my.cnf
      ansible.builtin.template:
        src: templates/mysql/my.cnf
        dest: /root/.my.cnf
      when: mysql_new_root_pass.changed




